
.form-content
{
    min-height: calc(100%-80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}
.form
{
    width: 57%;
    height: 850px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
    opacity: 1;
    margin-bottom: 104px;
    margin-top: 67px;
    
}

.form-text
{
    text-align: left;
    font: normal normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    position: absolute;



}
.form-head
{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    top: 173px;
    left: 427px;
    width: 100%;
    height: 108px;
    background: #008CFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}

.cancel-img
{
    margin-left: auto;
    margin-right: 56px;

}


.input
{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
    width: 100%;
    height: 50px;
    margin-top: 8px;

}
.input:hover,select:hover
{
    border-color: #008CFF;


}
.row
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin:20px 120px;
}


.label
{
    width: 100%;
}
.text
{
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: capitalize;
    opacity: 1;
}
.label-div
{
    text-align: left;

}

.address
{
    height: 105px;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
    resize: none;
}

.place
{
    width: 100%;
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
}
select
{
    width: 100%;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
    margin-top: 8px;
    padding: 10px ;
    appearance: none;
    background-image: url('../../assets/icons/arrow.png');
    background-position: right ;


}
.place-content
{
    width: 250px;
    height: 50px;
}
.zip
{
    width: 100%;
    height: 45px;
}
.error
{

    font-size: 14px;
    color: red;
    opacity: 1;
    font-family: Roboto;
    padding-left: 120px;
    margin-bottom: 10px;
}
.zip-error
{
    font-size: 14px;
    opacity: 1;
    color: red;
    font-family: Roboto;
    margin-bottom: 10px;
}

button
{
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
    font-size: 20px;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    font-weight: 400;
    width: 180px;
    height: 53px;
    padding: 7px 7px;
    border: 1px solid #707070;
    cursor: pointer;

}
.button-parent
{
    display: flex;
    justify-content: flex-end;
    margin-top: 90px;
    align-items: flex-end;

}
.addButton
{
    margin-right: 40px;
}
.addButton:hover:enabled {
    background-color: #008CFF;
    color: white;
  }

.addButton:disabled,.resetButton:disabled
{
    background-color: #848382;
}
.addButton:disabled:false {
    background-color: white;
}

.resetButton:hover:enabled {
    background-color: #969696 ;
    color: white;
}
.button-row
{
    align-items: flex-end;
    margin:10px 120px;
}
.displayMessage
{
    color: red;
    text-align: center;
    margin-top: 20px;
}
@media only screen and (max-width:1800px) 
{
    select 
    {
        width: 90%;
        
    }

}

@media only screen and (max-width:1200px) 
{
    .row
    {
        margin:20px 40px;
    }

    select 
    {
        width: 85%;
        
    }
    .cancel-img
    {
        margin-right: 30px;
    }
    button
    {
        width:140px;
    }
    .addButton
    {
        margin-right: 20px;
    }


}

@media only screen and (max-width:1000px) 
{
    select 
    {
        width: 85%;
        height: 70px;
        padding: 0px 25px;
        white-space: initial;
        
    }

    .zip
    {
        height: 70px;
    }
    .cancel-img
    {
        margin-right: 5px;

    }

}

@media only screen and (max-width:800px) 
{

    .place
    {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
    .place-content

    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    select
    {
        width: 100%;
        margin-bottom: 20px;
    }
    

    .form
    {
        height: min-content;
        width: 80%;

    }
    button
    {
        width:100px;
    }
    .addButton
    {
        margin-right: 20px;
    }

    .button-parent
    {
       margin-top: 50px;
       margin-bottom: 50px;

    }
    .cancel-img
    {
        margin-right: 5px;

    }

    .form-text
    {
        word-wrap: break-word;
        text-align: center;
        font: normal normal normal 24px/37px Roboto;

    }
    .cancel
    {
        height: 40px;
        width: 40px;
    }

}
@media only screen and (max-width:530px) 
{

    .form-text,.text
    {
    
        font: normal normal normal 18px/37px Roboto;

    }

}

@media only screen and (max-width:400px) 
{
    .row
    {
        margin:10px 20px;
    }
    .form-text
    {
        font: normal normal normal 15px/30px Roboto;
        word-wrap: break-word;
        text-align: center;
    }
    .text
    {
        font: normal normal normal 15px/30px Roboto;

    }
    .cancel
    {
        height: 20px;
        width: 20px;
    }
    button
    {
        width:65px;
        height: auto;
    }
    .addButton,.resetButton
    {
        margin: 0px;
    }
    .addButton
    {
        margin-right: 15px;
    }
    .button-parent
    {
        display: flex;
        justify-content: center;
    }

}

@media only screen and (max-width:220px) 
{
    .button-parent
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    button
    {
        width:55%;
        height: auto;
    }
    .addButton, .resetButton
    {
        margin: 10px 20px;

    }
    select 
    {
        width: 95%;
        height: 80px;
        padding: 0px 0px;
    }
    .form-text
    {
        font: normal normal normal 19px/30px Roboto;
        width: 100px;
        word-wrap: break-word;
        text-align: center;
    }
    .cancel
    {
        height: 20px;
        width: 20px;
    }
    .cancel-img
    {
        margin-right: 1px;
    }

    .address-text
    {
        font: normal normal bold 15px/25px Montserrat;

    }


}
